:host::part(body) {
  /* Popper.js sets position, top, left, transform */
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  z-index: 1200;
}

:host::part(backdrop) {
  /* Placeholder */
}

:host::part(content) {
  /* Placeholder */
}
